.flex-container {
    display: flex;
    justify-content: space-around;
}

#canvas1 {
    border: 3px solid black;
    height: 900px;
    width: 450px;
}

#canvas2 {
    border: 3px solid black;
    position: relative;
    height: 900px;
    width: 450px;
}

#canvas3 {
    border: 3px solid black;
    height: 900px;
    width: 450px;
}

#canvas4 {
    border: 3px solid black;
    height: 900px;
    width: 450px;
}